.welcome-to-ginger1 {
  margin: 0;
  width: 583px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.welcome-to-ginger1:hover {
  font-family: var(--font-norwester);
  font-size: var(--font-size-51xl);
  line-height: 150%;
  text-align: left;
  color: var(--color-white);
  display: flex;
  height: auto;
  max-width: 100%;
}
.enjoy-a-seamless {
  margin: 0;
}
.enjoy-a-seamless-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 400;
  font-family: var(--font-league-spartan);
  display: flex;
  text-shadow: 2px 0px 0px #000;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.enjoy-a-seamless-container:hover {
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-13xl);
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  text-shadow: 2px 0px 0px #000;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
}
.welcome-message:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-46xl) var(--padding-105xl);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--font-norwester);
}
.main-content:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-46xl) var(--padding-105xl);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-icon {
  margin-left: -1px;
  height: 128px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  display: flex;
  z-index: 2;
}
.rectangle-icon:hover {
  display: flex;
  flex: 1;
  height: 128px;
  flex-shrink: 0;
  max-width: 100%;
}
.e-commerce-landing-page-inner {
  width: 1440px;
  margin: 0 !important;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
}
.e-commerce-landing-page-inner:hover {
  background-color: var(--primary);
  display: flex;
  width: 1440px;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
}
.product-scroll:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.products {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-46xl) var(--padding-111xl);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.products:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-46xl) var(--padding-111xl);
  box-sizing: border-box;
  max-width: 100%;
}
.heading1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  width: auto;
  height: auto;
  z-index: 3;
}

.footer-heading1 {
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.footer-content-child {
  height: 49px;
  width: 48.5px;
  position: relative;
  min-height: 49;
  display: flex;
  z-index: 3;
}

.footer-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}

.footer {
  width: 1423.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-45xl);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.e-commerce-landing-page {
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-19xl);
  line-height: normal;
  letter-spacing: normal;
  height: auto;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-norwester);
}

