.footer-curve-icon {
  height: 424px;
  width: 2px;
  position: relative;
  display: flex;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  z-index: 2;
}
.phone-number {
  margin: 0;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-league-spartan);
  color: var(--color-white);
  text-align: left;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 2;
}
.email {
  margin-top: 20px;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-league-spartan);
  color: var(--color-white);
  text-align: left;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 2;
}

.phone-box {
  width: auto;
  border: none;
  outline: none;
  background-color: var(--color-gray-100);
  align-self: stretch;
  height: 45px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  font-family: var(--font-league-spartan);
  font-weight: 500;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  min-width: 225;
  gap: var(--gap-base);
  z-index: 2;
}
.phone-box:focus{
  border: 1px solid var(--primary);
}
.email-box {
  width: auto;
  border: none;
  outline: none;
  background-color: var(--color-gray-100);
  align-self: stretch;
  height: 45px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  font-family: var(--font-league-spartan);
  font-weight: 500;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  min-width: 225;
  gap: var(--gap-base);
  z-index: 2;
}
.email-box:focus{
  border: 1px solid var(--primary);
}
.email-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 244;
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
}
.form-fields {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}

.abcgmailcom {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-league-spartan);
  color: var(--color-gray-600);
  text-align: left;
  display: flex;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
}

.email-box {
  flex: 1;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-13xl) var(--padding-smi);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
}

.user-email {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-gray-100);
  width: 420px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  gap: var(--gap-base);
  z-index: 2;
}

.form-container {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}

.link {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: flex;
  min-width: 78;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 2;
}

.link1 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: flex;
  min-width: 94;
  height: auto;
  z-index: 2;
}

.link2 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: flex;
  min-width: 95;
  height: auto;
  z-index: 2;
}

.footer-links {
  width: 315px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  height: auto;
  transform: rotate(0deg);
}

.footer-content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl-5);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}

.footer1 {
  width: 667px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.download-app {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px var(--padding-46xl) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  max-width: 100%;
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}


/* -------------------------------------------------   Verification group styling ----------------------------------------------------- */

.checkbox {
  height: 34px;
  width: 34px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox.checked {
  background-color: var(--color-gray-300); /* Adjust the background color as needed */
}

.tick {
  font-size: 24px;
  color: var(--color-white); /* Adjust the tick color as needed */
}

.i-am-human {
  position: relative;
  display: flex;
  min-width: 68px;
  width: auto;
  align-self: unset;
  height: auto;
  margin-top: 5%;
}

.human-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.agreement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
  padding-top: 10%;
}

.human-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-mid);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.group-icon1 {
  height: 40px;
  width: 40px;
  position: relative;
  display: flex;
}

.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-mid);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.submit-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-sm);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}

.privacy-terms {
  align-self: stretch;
  height: 12px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto;
  margin-left: 20px;
}

.legal {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xs-5);
  height: auto;
  transform: rotate(0deg);
  text-align: center;
  font-size: var(--font-size-xs);
}

.verification {
  width: 302px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-8xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  height: auto;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  font-family: var(--font-league-spartan);
}








@media (max-width: 768px) {
  .download-app{
    flex-direction: column;
    padding: 0px var(--padding-13xl) 0px;
    padding-top: 10%;
  }
  .footer-curve-icon {
    height: 2px;  /* Change height to 2px for horizontal line */
    width: 100%; /* Change width to 100% for horizontal line */
    border-width: 2px 0; 
  }
  .form-fields{
    flex-direction: column;
    gap: 40px;
  }
  .email-input{
    width: 100%;
  }
}

