.scroll-down1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  min-width: 112;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.frame-icon {
  height: 26px;
  width: 26px;
  position: absolute;
  border-radius: var(--br-5xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  background-color: var(--primary);
  display: flex;
  gap: var(--gap-0);
  z-index: 1;
}
.down-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-24xl);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
}

.down-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) var(--padding-64xl);
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
  margin-bottom: 3%;
}

