.coach-connect2 {
  margin: 0;
  width: 440px;
  height: auto;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.coach-connect2:hover {
  font-family: var(--font-norwester);
  font-size: var(--font-size-51xl);
  text-align: left;
  color: var(--primary);
  display: flex;
  height: auto;
  max-width: 100%;
}
.personalized-fitness-guidance {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  max-width: 100%;
  height: auto;
}
.personalized-fitness-guidance:hover {
  font-family: var(--font-norwester);
  font-size: var(--font-size-11xl);
  text-align: left;
  color: var(--primary);
  display: flex;
  flex: 1;
  height: auto;
  max-width: 100%;
}
.personalized-fitness-guidance-wrapper {
  width: 417px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) var(--padding-8xs) 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-11xl);
}
.personalized-fitness-guidance-wrapper:hover {
  display: flex;
  width: 417px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-xl) var(--padding-8xs) 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.with-ginger-receive {
  margin: 0;
}
.with-ginger-receive-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.with-ginger-receive-container:hover {
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-5xl);
  line-height: 130%;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.with-ginger-receive-customize-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-lg-3);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-league-spartan);
}
.with-ginger-receive-customize-wrapper:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px var(--padding-lg-3);
  box-sizing: border-box;
}
.frame-child8 {
  height: 16.4px;
  width: 170px;
  position: relative;
  display: flex;
}
.frame-child8:hover {
  display: flex;
  width: 170px;
  height: 16.4px;
}
.frame-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px var(--padding-2xl);
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-wrapper7:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  padding: 0px var(--padding-xl) 0px var(--padding-2xl);
  box-sizing: border-box;
}
.coach-connect-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  margin-left: 5%;
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.coach-connect-group:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}

.lead-coach-photo {
  height: 126px;
  width: 129px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}
.lead-coach-photo:hover {
  display: flex;
  width: 129px;
  height: 126px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.austin-bill {
  position: relative;
  font-weight: 600;
  display: flex;
  min-width: 86;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.austin-bill:hover {
  font-weight: 600;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 86;
}
.british-olympic-coach {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-gray-400);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.british-olympic-coach:hover {
  font-weight: 600;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  text-align: left;
  color: var(--color-gray-400);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.coach-stars-child {
  height: 28px;
  width: 28px;
  position: relative;
  min-height: 28;
  display: flex;
  z-index: 1;
}
.coach-stars-child:hover {
  display: flex;
  width: 28px;
  height: 28px;
  min-height: 28;
}
.coach-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
}
.coach-stars:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.austin-bill-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.austin-bill-parent:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-lg);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.coach-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0px 0px;
  box-sizing: border-box;
  min-width: 98;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.coach-name:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-sm) 0px 0px;
  box-sizing: border-box;
  min-width: 98;
}
.coach-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.coach-image:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.lead-coach {
  position: relative;
  font-weight: 500;
  display: flex;
  min-width: 59;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 2;
}
.lead-coach:hover {
  font-weight: 500;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-xs);
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 59;
}
.lead-coach-label {
  border-radius: var(--br-3xs);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-mid);
  box-sizing: border-box;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  z-index: 1;
}
.lead-coach-label:hover {
  background-color: var(--color-red);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  border-radius: var(--br-3xs);
  padding: var(--padding-6xs) var(--padding-mid);
  box-sizing: border-box;
  white-space: nowrap;
}
.lead-coach-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-xs);
}
.lead-coach-title:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-mid);
  box-sizing: border-box;
}
.coach-image-parent {
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.coach-image-parent:hover {
  display: flex;
  width: 315px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.meet-our-lead-container {
  position: relative;
  line-height: 130%;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.meet-our-lead-container:hover {
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  line-height: 130%;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.coach-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
  font-size: var(--font-size-base);
}
.coach-description:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.frame-parent14 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24xl) var(--padding-25xl) var(--padding-53xl);
  gap: var(--gap-31xl);
  max-width: 100%;
  height: auto;
}
.frame-parent14:hover {
  background-color: var(--color-gray-500);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-31xl);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-mini);
  padding: var(--padding-24xl) var(--padding-25xl) var(--padding-53xl);
  box-sizing: border-box;
  border: 1px solid var(--color-steelblue);
  max-width: 100%;
}
.frame-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-7xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-wrapper8:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(0deg);
  padding: 0px var(--padding-7xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child9 {
  height: 64px;
  width: 64px;
  position: relative;
  min-height: 64;
  display: flex;
}
.frame-child9:hover {
  display: flex;
  width: 64px;
  height: 64px;
  min-height: 64;
}
.frame-parent15 {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.frame-parent15:hover {
  display: flex;
  width: 171px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
  transform: rotate(0deg);
}
.frame-parent13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  /* max-width: calc(100% - 203px); */
  height: auto;
  transform: rotate(0deg);
}
.frame-parent13:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-23xl);
  align-items: flex-end;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: calc(100% - 203px);
}
.coach-background {
  position: absolute;
  height: 580px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 620px;
  display: flex;
}
.coach-background:hover {
  background-color: var(--color-gray-500);
  display: flex;
  width: 620px;
  height: 580px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.austin-bill1 {
  width: 86px;
  position: relative;
  font-weight: 600;
  display: flex;
  height: auto;
  z-index: 1;
}
.austin-bill1:hover {
  font-weight: 600;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--color-white);
  display: flex;
  height: auto;
}
.british-olympic-coach1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-gray-400);
  display: flex;
  width: auto;
  height: auto;
  z-index: 1;
}
.british-olympic-coach1:hover {
  font-weight: 600;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  text-align: left;
  color: var(--color-gray-400);
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
}
.austin-bill-group {
  width: 151px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  flex-shrink: 0;
  height: auto;
  transform: rotate(0deg);
}
.austin-bill-group:hover {
  display: flex;
  width: 151px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-mid);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  flex-shrink: 0;
}
.coach-name-large {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-40xl) var(--padding-145xl);
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.coach-name-large:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px var(--padding-40xl) var(--padding-145xl);
  box-sizing: border-box;
}
.coach-label-large {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-15xl);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.coach-label-large:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-15xl);
  box-sizing: border-box;
}
.meet-our-lead-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  display: flex;
  width: auto;
  height: auto;
  z-index: 1;
}
.meet-our-lead-container1:hover {
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  line-height: 130%;
  text-align: left;
  color: var(--color-white);
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
}
.coach-expertise-large {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  max-width: 321%;
  flex-shrink: 0;
  height: auto;
  transform: rotate(0deg);
  font-size: var(--font-size-xs);
}
.coach-expertise-large:hover {
  display: flex;
  width: 500px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-38xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 321%;
  flex-shrink: 0;
}
.our-lead-coach-container1 {
  width: 501px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  display: flex;
  max-width: 322%;
  flex-shrink: 0;
  height: auto;
  z-index: 1;
}
.our-lead-coach-container1:hover {
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  line-height: 130%;
  text-align: left;
  color: var(--color-white);
  display: flex;
  height: auto;
  max-width: 322%;
  flex-shrink: 0;
}
.coach-photo-large {
  position: absolute;
  top: 45px;
  left: 44px;
  border-radius: 50%;
  width: 129px;
  height: 126px;
  object-fit: cover;
  display: flex;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}
.coach-photo-large:hover {
  display: flex;
  width: 129px;
  height: 126px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.coach-details-large-child {
  position: absolute;
  top: 128px;
  left: 208px;
  width: 28px;
  height: 28px;
  display: flex;
  z-index: 1;
}
.coach-details-large-child:hover {
  display: flex;
  width: 28px;
  height: 28px;
}
.coach-details-large-item {
  position: absolute;
  top: 128px;
  left: 256px;
  width: 28px;
  height: 28px;
  display: flex;
  z-index: 1;
}
.coach-details-large-item:hover {
  display: flex;
  width: 28px;
  height: 28px;
}
.coach-details-large-inner {
  position: absolute;
  top: 128px;
  left: 304px;
  width: 28px;
  height: 28px;
  display: flex;
  z-index: 1;
}
.coach-details-large-inner:hover {
  display: flex;
  width: 28px;
  height: 28px;
}
.experience-background {
  position: absolute;
  top: 191px;
  left: 61px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red);
  width: 93px;
  height: 25px;
  display: flex;
  z-index: 1;
}
.experience-background:hover {
  background-color: var(--color-red);
  display: flex;
  width: 93px;
  height: 25px;
  border-radius: var(--br-3xs);
}
.training-background {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
}
.training-background:hover {
  background-color: var(--color-gray-500);
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.coach-details-large {
  width: 620px;
  height: 580px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: -420px;
  bottom: 0px;
  display: flex;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.coach-details-large:hover {
  display: flex;
  width: 620px;
  height: 580px;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.coach-info-large {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-40xl) 0px var(--padding-55xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  height: 100%;
  transform: rotate(0deg);
}
.coach-info-large:hover {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: var(--gap-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-40xl) 0px var(--padding-55xl) var(--padding-25xl);
  box-sizing: border-box;
}
.coach-card-large {
  height: 580px;
  width: 200px;
  position: relative;
  display: flex;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.coach-card-large:hover {
  display: flex;
  width: 200px;
  height: 580px;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.frame-wrapper6 {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-106xl) 0px 0px;
  box-sizing: border-box;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-parent12 {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  width: 62%;
  height: auto;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}
.frame-parent11 {
  width: 1394px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-39xl);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--primary);
  font-family: var(--font-norwester);
}
.frame-parent11:hover {
  display: flex;
  width: 1394px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-39xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
