.image-20-icon {
  height: 325px;
  width: 131px;
  position: relative;
  object-fit: cover;
  display: flex;
  z-index: 1;
}
.image-20-icon:hover {
  display: flex;
  width: 131px;
  height: 325px;
}
.image-20-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px var(--padding-2xl);
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.image-20-wrapper:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  padding: 0px var(--padding-xl) 0px var(--padding-2xl);
  box-sizing: border-box;
}
.mens-camo-cargo {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.mens-camo-cargo:hover {
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.frame-child12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-child12:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
}
.mens-camo-cargo-sports-pants-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
}
.mens-camo-cargo-sports-pants-parent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.frame-child13 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  z-index: 1;
}
.frame-child13:hover {
  display: flex;
  flex: 1;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  max-width: 100%;
}
.vector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.vector-wrapper:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div4 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  min-width: 37;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.div4:hover {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 37;
  white-space: nowrap;
}
.shop-now1 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  min-width: 57;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.shop-now1:hover {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 57;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.parent:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
  transform: rotate(0deg);
  max-width: 100%;
}
.frame-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-xs);
}
.frame-wrapper9:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.frame-parent16:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-mini);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.products-first {
  flex: 1;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-mini) var(--padding-lgi)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  min-width: 316;
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.products-first:hover {
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-17xl);
  align-items: flex-end;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-17xl) var(--padding-mini) var(--padding-lgi)
    var(--padding-sm);
  box-sizing: border-box;
  min-width: 316;
  max-width: 100%;
}
