.image-18-icon {
  height: 334px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  z-index: 1;
}
.image-18-icon:hover {
  display: flex;
  flex: 1;
  height: 334px;
}
.image-18-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-51xl) 0px var(--padding-52xl);
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.image-18-wrapper:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(0deg);
  padding: 0px var(--padding-51xl) 0px var(--padding-52xl);
  box-sizing: border-box;
}
.mens-compression-shorts {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.mens-compression-shorts:hover {
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.frame-child14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-child14:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
}
.mens-compression-shorts-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  width: auto;
  align-self: unset;
  height: auto;
  transform: rotate(0deg);
}
.mens-compression-shorts-parent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.frame-child15 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  z-index: 1;
}
.frame-child15:hover {
  display: flex;
  flex: 1;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  max-width: 100%;
}
.vector-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.vector-container:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div5 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  min-width: 38;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.div5:hover {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 38;
  white-space: nowrap;
}
.shop-now2 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: flex;
  min-width: 57;
  width: auto;
  align-self: unset;
  height: auto;
  z-index: 1;
}
.shop-now2:hover {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 57;
}
.group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.group:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
  transform: rotate(0deg);
  max-width: 100%;
}
.frame-wrapper10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-xs);
}
.frame-wrapper10:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.frame-parent17:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-mini);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.products-first1 {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-mini) var(--padding-lgi)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  min-width: 316;
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
}
.products-first1:hover {
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-8xl);
  align-items: flex-end;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-17xl) var(--padding-mini) var(--padding-lgi)
    var(--padding-sm);
  box-sizing: border-box;
  min-width: 316;
  max-width: 100%;
}
.product-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-5);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.product-container:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-4xl-5);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
